body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  padding: 30px;
}

.container {
  max-width: 8000px;
  background: white;
  padding: 20px 25px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,.1);
}

label {
  display: block;
  margin-top: 14px;
  font-weight: bold;
}

input, textarea, button {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

textarea {
  font-size: 18px;
  min-height: 500px;
}

button {
  margin-top: 16px;
  background: #007bff;
  color: #fff;
  border: none;
}

#result {
  margin-top: 14px;
  font-size: 14px;
}
